/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

/* global styles */
:root {
  --basic-transition: 0.3s linear;
  --light-dark-color: #2b3844;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: #111517;
  margin: 0 auto;
}
body.dark {
  color: #fff;
}

/* 
HEADER
*/
header {
  background: #fff;
  padding: 2rem 1rem;
  transition: var(--basic-transition);
}
.dark header {
  background: var(--light-dark-color);
}

nav {
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h3 {
  font-size: 14px;
  transition: var(--basic-transition);
}

.color-mode {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.color-mode p {
  font-size: 12px;
  font-weight: 600;
  transition: var(--basic-transition);
}

.far.fa-moon {
  font-size: 12px;
  display: block;
  transition: var(--basic-transition);
}
.fas.fa-moon {
  font-size: 12px;
  display: none;
  transition: var(--basic-transition);
}

.dark .far.fa-moon {
  display: none;
}
.dark .fas.fa-moon {
  display: block;
}

/* 
MAIN
*/

main {
  background: #f2f2f2;
  padding-top: 2rem;
  padding-bottom: 4rem;
  transition: var(--basic-transition);
  min-height: 100vh;
}
.dark main {
  background: #202c36;
}

/* 
FILTERS
*/
.filters {
  max-width: 375px;
  margin: 0 auto;
}

/* search filter */
.search-form {
  background: #fff;
  width: 95%;
  margin: 0 auto;
  padding: 14px 28px;
  display: flex;
  gap: 2rem;
  color: #b2b2b2;
  border-radius: 4px;
  margin-bottom: 2rem;
}
.dark .search-form {
  background: var(--light-dark-color);
  transition: var(--basic-transition);
}

.search-form input {
  border: 0;
  color: #b2b2b2;
  font-family: inherit;
  font-size: 12px;
  background: transparent;
}
.dark .search-form input {
  color: #fff;
  transition: var(--basic-transition);
}

.dark .fa-search {
  color: #fff;
  transition: var(--basic-transition);
}

.search-form input:focus {
  outline: 0;
}

.search-form input::placeholder {
  color: #c4c4c4;
}
.dark .search-form input::placeholder {
  color: #fff;
  transition: var(--basic-transition);
}

/* select-filter */
.select-filter {
  width: 95%;
  margin: 0 auto;
  font-size: 12px;
  position: relative;
}

.filter-header {
  background: #fff;
  width: 200px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
}
.dark .filter-header {
  background: var(--light-dark-color);
  transition: var(--basic-transition);
}

.filter-header .fa-chevron-down {
  font-size: 10px;
  color: #000000;
  transition: var(--basic-transition);
}
.dark .filter-header .fa-chevron-down {
  color: #fff;
}

.regions {
  background: #fff;
  width: 200px;
  border-radius: 4px;
  padding: 1rem 0;
  position: absolute;
  display: none;
}
.regions.show {
  display: block;
  transform: translateY(0);
}
.dark .regions {
  background: var(--light-dark-color);
}

.regions li {
  list-style-type: none;
  margin: 10px 0;
  padding: 0px 20px;
  cursor: pointer;
  width: fit-content;
}

/* 
COUNTRIES
*/

.countries {
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;
}

.single-country {
  background: #fff;
  width: 264px;
  height: 336px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: var(--basic-transition);
  text-decoration: none;
  color: #111517;
}
.dark .single-country {
  background: var(--light-dark-color);
  color: #fff;
}

.single-country img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.country-info {
  padding: 1rem;
}

.country-name {
  font-size: 18px;
}

.country-details {
  margin: 1rem 0;
}

.country-details p {
  font-size: 16px;
  font-weight: 600;
  margin: 4px 0;
}

.country-details span {
  font-weight: 300;
}

/*
COUNTRY 
*/
.home-container {
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.country-detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-country-name {
  font-size: 22px;
}

.country-flag {
  width: 320px;
  height: 229px;
  display: block;
  margin: 0 auto;
}

.home-btn {
  display: block;
  width: fit-content;
  text-decoration: none;
}

.home-btn button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  font-size: 14px;
  color: #111517;
  width: 6rem;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.border p {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 1rem;
}

.country-border {
  width: 100%;
  display: flex;
  gap: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.country-border p {
  justify-self: flex-start;
}

.single-country-border {
  background: #fff;
  width: 116px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
}
